@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
	--prim-color:#001829;
	--sec-color:#c8d8e4;
	--ter-color:#4e6862;
	--white:#ffffff;
	--light-color:#f2f2f2;

    --error-color:rgba(184, 9, 24, 0.8);
    --success-color:rgba(4, 135, 58, 0.8);
    --warning-color:rgba(153, 117, 10, 0.8);
    
	--nav-size:50px;

	--fast-speed:300ms;
	--avg-speed:500ms;
	--slow-speed:800ms;
}

/* WRAPPER */
.wrapper{
	height: 100vh;
	width: 100%;
	background-image: url("../assets/polygon-scatter-haikei.svg");
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	background-color: var(--prim-color);
	background-blend-mode: luminosity;
    position: relative;
}

/* APP */
.app {
	width: 100%;
	max-width: 450px;
	background-color: var(--prim-color);
	margin: auto;
	height: 100vh;
}
.container {
	padding: 0rem 1rem;
	height: 100%;
}

/* NAVBAR */
.navbar {
	height: var(--nav-size);
	width: 100%;
}

.navbar-nav{
	display: flex;
}

.nav-title h2{
	color: var(--light-color);
	height: 100%;
	display: flex;
	align-items: center;
    justify-content: space-between;
	font-size: 1.5rem;
	font-weight: 600;
    gap:.15em;
}

.nav-item{
	width: calc(var(--nav-size) * 0.8);
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.button-icon{
	--button-size: calc(var(var(--nav-size)) * 0.6);
	width: var(--button-size);
	height: var(--button-size);
	border-radius: 50%;
	background-color: var(--ter-color);
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2px;
	transition: filter var(--fast-speed);
}

.nav-item{
    width: calc(var(--nav-size) * 0.8);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.button-icon{
    --button-size: calc(var(--nav-size) * 0.6);
    width: var(--button-size);
    height: var(--button-size);
    border-radius: 50%;
    background-color: var(--ter-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    transition: filter var(--fast-speed);
}

.button-icon:hover{
    filter: brightness(120%);
}
.button-icon:active{
    transform: scale(95%);
}

.menu-button{
    transition: transform var(--avg-speed);
}
.active{
    transform: scale(1.2) rotateZ(180deg);
    filter: brightness(150%); 
}

.dropdown-menu{
    position: absolute;
    min-width: 180px;
    width: 50%;
    top: 48px; right: 10px;
    padding: 1rem;
    background-color: var(--prim-color);
    color: var(--white);
    box-shadow: 1px 4px 10px #888;
}

.dropdown-menu-enter{
    transform: translateY(-100px);
    opacity: 0;
}
.dropdown-menu-enter-active{
    transform: translateY(0px);
    opacity: 1;
    transition: all var(--fast-speed) ease;
}

.dropdown-menu-exit{
    transform: translateY(0px);
    opacity: 1;
}
.dropdown-menu-exit-active{
    transform: translateY(-100px);
    opacity: 0;
    transition: all var(--fast-speed) ease;
}

/* MAIN  */
.main{
    --switch-join-form-size:35px;
    height: calc(100vh - var(--nav-size));
    background-color: var(--light-color);
    border-radius: 1rem 1rem 0px 0px;
}


.main .display{
    height: calc(100% - var(--switch-join-form-size) - 5px);
    border-radius: 1rem 1rem 0px 0px;
}

.main .switch-join-form{
    height: var(--switch-join-form-size);
    text-align: center;
}

.message-form{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
}

.message-form input{
    padding: 5px;
    width: 100%;
    border-radius: .5em 0em 0em .5em;
    outline: none;
    border: 1px solid #ddd;
    border-right: none;
    transition: all var(--avg-speed) ease;
}
.message-form input:focus{
    border: 1.5px solid var(--prim-color);
    border-right: none;
}
.message-form input:focus + button{
    border: 1.5px solid var(--prim-color);
    border-left: none;
}
.message-form button{
    border-radius: 0em .5em .5em 0em;
    border: 1px solid #ddd;
    background-color: white;
    border-left: none;
    padding: 5px;
    transition: all var(--avg-speed) ease;
}

.message-form-button{
    cursor: pointer;
}

.message-form-button:active{
    transform: scale(.65);
}

.message-form-button[disabled]:active{
    transform: scale(1);
}


.message-join-button{
    width: 50%;
    padding: 7px 5px;
    border-radius: 5px;
    font-size: 1em;
    color: var(--light-color);
    background-color: var(--prim-color);
    border: none;
    box-shadow: 0px 2px 1px var(--ter-color);
    font-weight:700;
}

.message-join-button:active{
    transform: scale(95%);
}

.dropdown-item{
    margin-bottom: .75em;
    transition: background-color var(--fast-speed);    
}
.dropdown-item:hover{
    filter: brightness(110%); 
    background-color: var(--ter-color);
}
.dropdown-item a{
    color: white;
    display: flex;
    align-items:center;
}

.dropdown-item a .button-icon{
        margin-right:10px;
}

.status-bar{
    position: absolute;
    bottom:4em;
    left:50%;
    transform: translateX(-50%);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .35em;
    padding: .25em .35em;
    font-size: .75em;
    font-weight: 600;
    border-radius: .25em;
}
.status-bar.error{
    background-color: var(--error-color);
}
.status-bar.success{
    background-color: var(--success-color);
}
.status-bar.warning{
    background-color: var(--warning-color);
}